.flag {
	background-color: #FFFFFF;
	background-image: url('/images/flags/flags-20160501.png');
	background-position: left bottom;
	background-repeat: no-repeat;
	display: block;
	width: 24px;
	height: 18px;
	float: left;
}

.sprite-gibraltar { background-position: 0 0; }
.sprite-iran { background-position: 0 -19px; }
.sprite-syria { background-position: 0 -38px; }
.sprite-kazakhstan { background-position: 0 -57px; }
.sprite-costa_rica { background-position: 0 -76px; }
.sprite-martinique { background-position: 0 -95px; }
.sprite-lithuania { background-position: 0 -114px; }
.sprite-albania { background-position: 0 -133px; }
.sprite-armenia { background-position: 0 -152px; }
.sprite-austria { background-position: 0 -171px; }
.sprite-azerbaijan { background-position: 0 -190px; }
.sprite-belarus { background-position: 0 -209px; }
.sprite-belgium { background-position: 0 -228px; }
.sprite-bosnia_herzegovina { background-position: 0 -247px; }
.sprite-bulgaria { background-position: 0 -266px; }
.sprite-croatia { background-position: 0 -285px; }
.sprite-cyprus { background-position: 0 -304px; }
.sprite-czech_republic { background-position: 0 -323px; }
.sprite-denmark { background-position: 0 -342px; }
.sprite-estonia { background-position: 0 -361px; }
.sprite-faroes { background-position: 0 -380px; }
.sprite-finland { background-position: 0 -399px; }
.sprite-france { background-position: 0 -418px; }
.sprite-georgia { background-position: 0 -437px; }
.sprite-germany { background-position: 0 -456px; }
.sprite-greece { background-position: 0 -475px; }
.sprite-hungary { background-position: 0 -494px; }
.sprite-ireland { background-position: 0 -513px; }
.sprite-nofalg { background-position: 0 -532px; }
	  
.sprite-latvia { background-position: -24px 0; }
.sprite-macedonia { background-position: -24px -19px; }
.sprite-malta { background-position: -24px -38px; }
.sprite-moldova { background-position: -24px -57px; }
.sprite-montenegro { background-position: -24px -76px; }
.sprite-netherlands { background-position: -24px -95px; }
.sprite-norway { background-position: -24px -114px; }
.sprite-poland { background-position: -24px -133px; }
.sprite-portugal { background-position: -24px -152px; }
.sprite-romania { background-position: -24px -171px; }
.sprite-russia { background-position: -24px -190px; }
.sprite-serbia { background-position: -24px -209px; }
.sprite-slovakia { background-position: -24px -228px; }
.sprite-slovenia { background-position: -24px -247px; }
.sprite-spain { background-position: -24px -266px; }
.sprite-sweden { background-position: -24px -285px; }
.sprite-switzerland { background-position: -24px -304px; }
.sprite-turkey { background-position: -24px -323px; }
.sprite-ukraine { background-position: -24px -342px; }
.sprite-united_kingdom { background-position: -24px -361px; }
.sprite-argentina { background-position: -24px -380px; }
.sprite-belize { background-position: -24px -399px; }
.sprite-brazil { background-position: -24px -418px; }
.sprite-canada { background-position: -24px -437px; }
.sprite-chile { background-position: -24px -456px; }
.sprite-colombia { background-position: -24px -475px; }
.sprite-dominican_republic { background-position: -24px -494px; }
.sprite-ecuador { background-position: -24px -513px; }
.sprite-el_salvador { background-position: -24px -532px; }
	  
.sprite-guatemala { background-position: -48px 0; }
.sprite-guyana { background-position: -48px -19px; }
.sprite-honduras { background-position: -48px -38px; }
.sprite-mexico { background-position: -48px -57px; }
.sprite-nicaragua { background-position: -48px -76px; }
.sprite-panama { background-position: -48px -95px; }
.sprite-paraguay { background-position: -48px -114px; }
.sprite-peru { background-position: -48px -133px; }
.sprite-puerto_rico { background-position: -48px -152px; }
.sprite-trinidad_tobago { background-position: -48px -171px; }
.sprite-uruguay { background-position: -48px -190px; }
.sprite-usa { background-position: -48px -209px; }
.sprite-virgin_islands_us { background-position: -48px -228px; }
.sprite-venezuela { background-position: -48px -247px; }
.sprite-bahrain { background-position: -48px -266px; }
.sprite-bangladesh { background-position: -48px -285px; }
.sprite-china { background-position: -48px -304px; }
.sprite-egypt { background-position: -48px -323px; }
.sprite-hong_kong { background-position: -48px -342px; }
.sprite-india { background-position: -48px -361px; }
.sprite-indonesia { background-position: -48px -380px; }
.sprite-iraq { background-position: -48px -399px; }
.sprite-israel { background-position: -48px -418px; }
.sprite-japan { background-position: -48px -437px; }
.sprite-jordan { background-position: -48px -456px; }
.sprite-kuwait { background-position: -48px -475px; }
.sprite-kyrgyzstan { background-position: -48px -494px; }
.sprite-lebanon { background-position: -48px -513px; }
.sprite-macau { background-position: -48px -532px; }
	  
.sprite-malaysia { background-position: -72px 0; }
.sprite-mongolia { background-position: -72px -19px; }
.sprite-pakistan { background-position: -72px -38px; }
.sprite-philippines { background-position: -72px -57px; }
.sprite-saudi_arabia { background-position: -72px -76px; }
.sprite-singapore { background-position: -72px -95px; }
.sprite-southkorea { background-position: -72px -114px; }
.sprite-taiwan { background-position: -72px -133px; }
.sprite-tajikistan { background-position: -72px -152px; }
.sprite-thailand { background-position: -72px -171px; }
.sprite-united_arab_emirates { background-position: -72px -190px; }
.sprite-uzbekistan { background-position: -72px -209px; }
.sprite-vietnam { background-position: -72px -228px; }
.sprite-gabon { background-position: -72px -247px; }
.sprite-kenya { background-position: -72px -266px; }
.sprite-libya { background-position: -72px -285px; }
.sprite-mozambique { background-position: -72px -304px; }
.sprite-namibia { background-position: -72px -323px; }
.sprite-rwanda { background-position: -72px -342px; }
.sprite-south_africa { background-position: -72px -361px; }
.sprite-american_samoa { background-position: -72px -380px; }
.sprite-australia { background-position: -72px -399px; }
.sprite-guam { background-position: -72px -418px; }
.sprite-new_zealand { background-position: -72px -437px; }
.sprite-luxembourg { background-position: -72px -456px; }
.sprite-monaco { background-position: -72px -475px; }
.sprite-san_marino { background-position: -72px -494px; }
.sprite-vatican_city { background-position: -72px -513px; }
.sprite-german_democratic_republic { background-position: -72px -532px; }
	  
.sprite-ussr { background-position: -96px 0; }
.sprite-third_reich { background-position: -96px -19px; }
.sprite-italy { background-position: -96px -38px; }
.sprite-togo { background-position: -96px -57px; }
.sprite-jamaica { background-position: -96px -76px; }
.sprite-bolivia { background-position: -96px -95px; }
.sprite-nepal { background-position: -96px -114px; }
.sprite-morocco { background-position: -96px -133px; }
.sprite-tunisia { background-position: -96px -152px; }
.sprite-jersey { background-position: -96px -171px; }
.sprite-cuba { background-position: -96px -190px; }
.sprite-suriname { background-position: -96px -209px; }
.sprite-afghanistan { background-position: -96px -228px; }
.sprite-palestine { background-position: -96px -247px; }
.sprite-yugoslavia { background-position: -96px -266px; }
.sprite-south_korea { background-position: -96px -285px; }
.sprite-cote_d_ivoire { background-position: -96px -304px; }
.sprite-mauritius { background-position: -96px -323px; }
.sprite-aruba { background-position: -96px -342px; }
.sprite-bahamas { background-position: -96px -361px; }
.sprite-botswana { background-position: -96px -380px; }
.sprite-ghana { background-position: -96px -399px; }
.sprite-swaziland { background-position: -96px -418px; }
.sprite-myanmar { background-position: -96px -437px; }
.sprite-algeria { background-position: -96px -456px; }
.sprite-burundi { background-position: -96px -475px; }
.sprite-cameroon { background-position: -96px -494px; }
.sprite-iceland { background-position: -96px -513px; }
.sprite-uganda { background-position: -96px -532px; }

.sprite-turkmenistan { background-position: -120px 0; }
.sprite-yemen { background-position: -120px -19px; }
.sprite-north_korea { background-position: -120px -38px; }
.sprite-andorra { background-position: -120px -57px; }
.sprite-isle_of_man { background-position: -120px -76px; }
.sprite-anguilla { background-position: -120px -95px; }
.sprite-bermuda { background-position: -120px -114px; }
.sprite-sri_lanka { background-position: -120px -133px; }
.sprite-nigeria { background-position: -120px -152px; }
.sprite-saint_helena { background-position: -120px -171px; }
.sprite-sudan { background-position: -120px -190px; }
.sprite-zimbabwe { background-position: -120px -209px; }
.sprite-norfolk_island { background-position: -120px -228px; }
.sprite-pitcairn_islands { background-position: -120px -247px; }
.sprite-european_union { background-position: -120px -266px; }
.sprite-laos { background-position: -120px -285px; }
.sprite-barbados { background-position: -120px -304px; }
.sprite-haiti { background-position: -120px -323px; }
.sprite-central_african_republic { background-position: -120px -342px; }
.sprite-papua_new_guinea { background-position: -120px -361px; }
.sprite-tanzania { background-position: -120px -380px; }
.sprite-cook_islands { background-position: -120px -399px; }
.sprite-french_polinesia { background-position: -120px -418px; }
.sprite-bohemia_moravia { background-position: -120px -437px; }
.sprite-netherlands_antilles { background-position: -120px -456px; }
.sprite-tuvalu { background-position: -120px -475px; }
.sprite-fiji { background-position: -120px -494px; }
.sprite-cambodia { background-position: -120px -513px; }
.sprite-maldives { background-position: -120px -532px; }

.sprite-oman { background-position: -144px 0; }
.sprite-antigua_barbuda { background-position: -144px -19px; }
.sprite-benin { background-position: -144px -38px; }
.sprite-niue { background-position: -144px -57px; }
.sprite-burkina_faso { background-position: -144px -76px; }
.sprite-guinea_bissau { background-position: -144px -95px; }
.sprite-mali { background-position: -144px -114px; }
.sprite-mauritania { background-position: -144px -133px; }
.sprite-senegal { background-position: -144px -152px; }
.sprite-western_africa { background-position: -144px -171px; }
.sprite-aland_islands { background-position: -144px -190px; }
.sprite-western_sahara { background-position: -144px -209px; }
.sprite-madagascar { background-position: -144px -228px; }
.sprite-eritrea { background-position: -144px -247px; }
.sprite-ethiopia { background-position: -144px -266px; }
.sprite-guernsey { background-position: -144px -285px; }
.sprite-transnistria { background-position: -144px -304px; }
.sprite-eastern_caribbean { background-position: -144px -323px; }
.sprite-palestine { background-position: -144px -342px; }
.sprite-angola { background-position: -144px -361px; }
.sprite-danzig { background-position: -144px -380px; }
.sprite-saar { background-position: -144px -399px; }
.sprite-central_africa { background-position: -144px -418px; }
.sprite-cape_verde { background-position: -144px -437px; }
.sprite-seychelles { background-position: -144px -456px; }
.sprite-equatorial_guinea { background-position: -144px -475px; }
.sprite-chad { background-position: -144px -494px; }
.sprite-west_congo { background-position: -144px -513px; }
.sprite-niger { background-position: -144px -532px; }

.sprite-french_indochina { background-position: -168px 0px; }
.sprite-cayman_islands { background-position: -168px -19px; }
.sprite-qatar { background-position: -168px -38px; }
.sprite-brunei { background-position: -168px -57px; }
.sprite-east_timor { background-position: -168px -76px; }
.sprite-congo_democratic_republic { background-position: -168px -95px; }
.sprite-lesotho { background-position: -168px -114px; }
.sprite-samoa { background-position: -168px -133px; }
.sprite-zambia { background-position: -168px -152px; }
.sprite-british_india { background-position: -168px -171px; }
.sprite-bhutan { background-position: -168px -190px; }
.sprite-german_empire { background-position: -168px -209px; }
.sprite-new_caledonia { background-position: -168px -228px; }
.sprite-gambia { background-position: -168px -247px; }
.sprite-solomon_islands { background-position: -168px -266px; }



.sprite-czechoslovakia { background-position: 0 -323px; }
.sprite-ceylon { background-position: -120px -133px; }